.Email-logo
{
    width: 120px;
    margin-bottom: 10px;
}
.loginEmailPassword
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.LoginContainer
{
    width: 350px;
    height: auto;
    border: 1px solid #ccc;
}

.LoginContainer h1
{
    margin-left: 5%;
    font-weight: 500;
    margin-bottom: 20px;
}

#form
{

    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

#form > label
{
    font-size: 14px;
    font-weight: 500;
    margin-left: 5%;
}

#password, #email
{
  width: 90%;
  height: 30px;
  margin: auto;
  margin-bottom: 20px;
  background-color: white;
  text-indent: 10px;
}

.continue
{
    width: 90%;
    margin: 0px auto;
    padding: 6px 0px;
    background-color: orange;
    border: 1px solid rgb(95, 72, 12);
    outline: none;
    border-radius: 2px;
}

.continue:hover
{
    background-color: rgb(250, 181, 53);
    cursor: pointer;
}

.privacy_policy
{
    width: 90%;
    margin: 0px auto;
    font-size: 13px;
    padding: 10px 0px;
}
.privacy_policy a{
    text-decoration: none;
    color: rgb(92, 138, 225);
}

.privacy_policy a:hover{
    text-decoration: underline;
    color: #c45500;
}

.Need_help
{
   cursor: pointer;
    width: 90%;
    margin: 0px auto;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    color: rgb(92, 138, 225);
}
.Need_help span
{
    font-size: 13px;
}

.Need_help span:hover
{
   text-decoration: underline;
   color: #c45500;
}
/* #needIcon
{
    font-size: 18px;
} */

.needIcon {
   
    color: black;
}
.needIconDown
{
   
    display: none;
    color: black;
}

.problem
{
    /* border: 1px solid black; */
    width: 90%;
    margin: 0px auto;
    font-size: small;
    margin-bottom: 10px;
    display: none;
    line-height: -5px;
}
#create_account
{
    border-radius: 2px;
    outline: none;
    border: 1px solid #ccc;
}
#create_account:hover
{
   background-color: #ccc;
}

.problem a
{
    color: rgb(92, 138, 225);
    text-decoration: none;
}

.problem a:hover
{
    color: #c45500;
    text-decoration: underline;
}
